<?xml version="1.0"?>
<model>
  <name>scooping_container</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ashwanth</name>
    <email>ashwanth@todo.todo</email>
  </author>
  <description>Static scooping container mesh placed in front of the robot.</description>
</model>
