<?xml version="1.0"?>
<model>
  <name>weighing_container</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>ashwanth</name>
    <email>ashwanth@todo.todo</email>
  </author>
  <description>Static weighing container mesh placed on the robot's right side.</description>
</model>
