<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="niryo_ned2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import niryo_ned2 urdf file -->
    <xacro:include filename="$(find niryo_ned_description)/urdf/ned2/niryo_ned2.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="niryo_ned2.ros2_control.xacro" />


    <xacro:niryo_ned2_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
