<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jaka_zu5">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_rviz_sim" default="false"/>

    <!-- Import jaka_zu5 urdf file -->
    <xacro:include filename="$(find jaka_description)/urdf/jaka_zu5.urdf" />
    <xacro:include filename="$(find scoop_description)/urdf/scoop_tool.xacro" />

    <!-- Scoop tool attachment.
         Plans to scoop tip (`tcp_link`), not flange `Link6`.

         Mount matches Niryo hand_tool (roll=PI, tip at +X). Keep tool_link and
         tcp_link axes aligned (tcp_rpy=0): marker mesh offset assumes that.
         Outward approach is authored in the layout pose seed, not here. -->
    <xacro:scoop_tool
        parent_link="Link6"
        mount_joint_name="jaka_scoop_mount_joint"
        tcp_joint_name="jaka_scoop_tcp_joint"
        mesh_resource="package://niryo_robot_description/meshes/stl/niryo_scoop_v4-ros.STL"
        mount_xyz="0 0 0.043"
        mount_rpy="3.14159265359 0 0"
        tcp_xyz="0.15825 0 -0.09356"
        mass="0.01083"
        ixx="0.00000138319"
        iyy="0.00000138107"
        izz="0.00000040812" />

    <!-- Import control_xacro -->
    <xacro:include filename="jaka_zu5.ros2_control.xacro" />


    <!-- <xacro:jaka_zu5_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->
    <xacro:jaka_zu5_ros2_control name="jaka_zu5_hardware" initial_positions_file="$(arg initial_positions_file)" use_gazebo="$(arg use_gazebo)" use_rviz_sim="$(arg use_rviz_sim)" />

</robot>
